
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <style>

      div.container{border-style: double;
      background-image: url("https://thumbs.dreamstime.com/b/rice-farm-blur-background-drop-bamboo-hut-rice-farm-blur-background-drop-water-rain-bamboo-hut-easy-life-123117043.jpg");}
  
      div.friend2field{
        font-weight: bold;
        display: grid;
        grid-template-columns: 1fr 3fr;
      }
      body {
        background-image: url('https://images.unsplash.com/photo-1625246333195-78d9c38ad449?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      }
  
      .btn{
        float:right;
        font-weight: bold;
        border: 5px solid #bd1818;
  
  
  
      }
  
  
      </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
    <title>Crop Prediction</title>
  </head>
  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Crop Prediction</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span> </a>
      </li>

    </ul>
  </div>

</nav>


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Meet our amazing team!</strong> Contact us if you have any queries !!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>



    <title>Our Team Section</title>
  </head>
  <body>
    <section class="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team_top text-center">
                        <h1 class="mb-2">Our Team</h1>
                        <p>we are the ultimate tech-savvy people</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member text-center">
                      <h3>Aditya Singh</h3>
                       
                        <div class="m_text">
                           
                            <h5>ML Developer</h5>
                            
                        </div>
                        <div class="m_menu">
                          <ul class="list-inline">
                            <li class="list-inline-item"><a href="mailto:as5151@srmist.edu.in" target="_blank"><i class="fa fa-envelope" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://github.com/As-anonymus"  target="_blank"><i class="fa fa-github" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/aditya-singh-907b0830/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://instagram.com/aditya_sh13/" target="_blank"><i class="fa fa-instagram" style="font-size:30px"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="member text-center">
                      <h3>Prajjawal Sharma</h3>
                       
                        <div class="m_text">
                            
                            <h5> Blockchain Developer</h5>
                            
                        </div>
                        <div class="m_menu">
                          <ul class="list-inline">
                            <li class="list-inline-item"><a href="mailto:ps2951@srmist.edu.in" target="_blank"><i class="fa fa-envelope" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://github.com/sharmaprajjawal"  target="_blank"><i class="fa fa-github" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/prajjawal-sharma-b64930161/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://www.instagram.com/prajjawal_810/" target="_blank"><i class="fa fa-instagram" style="font-size:30px"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <div class="member text-center">
                      <h3>Ishika Ghosh</h3>
                       
                        <div class="m_text">
                            
                            <h5>Python Developer</h5>
                            
                        </div>
                        <div class="m_menu">
                          <ul class="list-inline">
                            <li class="list-inline-item"><a href="mailto:ig7539@srmist.edu.in" target="_blank" ><i class="fa fa-envelope" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://github.com/ishikag02"  target="_blank"><i class="fa fa-github" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ishika-ghosh-82a672223" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a></li>

                            <li class="list-inline-item"><a href="https://instagram.com/ishikaaaaaa26/" target="_blank"><i class="fa fa-instagram" style="font-size:30px"></i></a></li>
                          </ul>
                        </div>
                    </div>
                </div>
               
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>